@page "/"
@using MathEx_Blazor.Data
@inject DataContext Db
@inject IJSRuntime JS
@rendermode InteractiveServer

<PageTitle>MathEx</PageTitle>

<h1>MathEx - сборник вопросов/ответов для экзамена по математическому анализу</h1>

@* форма модалки для добавления и закрытия *@

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary rounded-pill px-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i data-lucide="plus-circle" class="btn-icon"></i>Добавить вопрос
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Форма для заполнения вопроса</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Вопрос</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Поле для вопроса" @bind="name">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Ответ на вопрос</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" @bind="description"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Теги</label>
                    <input type="text" class="form-control" placeholder="" @bind="tags">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" @onclick="AddCard">Добавить вопрос</button>
            </div>
        </div>
    </div>
</div>

@* Борд карточек *@
<div class="cards-list">
    @foreach (var card in cards)
    {
        <div class="card border-primary mb-3">
            <div class="card-header">@card.Name</div>
            <div class="card-body text-primary">
                <p class="card-text">@card.Description</p>
                <div class="d-flex justify-content-end align-items-center">
                    <button class="btn btn-danger btn-sm rounded-pill" @onclick="() => DeleteCard(card.Id)">Удалить</button>
                </div>
            </div>
        </div>
    } 
</div>


@code
{
    // для форм переменные
    private string name = "";
    private string description = "";
    private string tags = "";

    
    // Для модалки, добавление карточки
    private async Task AddCard()
    {
        var card = new Card { Name = name, Description = description, Tags = tags };
        Db.Cards.Add(card);
        await Db.SaveChangesAsync();
        cards = Db.Cards.ToList();
        name = description = tags = "";
    }

    // борд карточек
    private List<Card> cards = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        cards = Db.Cards.OrderBy(c => c.Name).ToList();
    }
    
    // для удаления карточки из борда
    private async Task DeleteCard(int id)
    {
        var card = Db.Cards.Find(id);
        if (card != null)
        {
            Db.Cards.Remove(card);
            await Db.SaveChangesAsync();
            cards = Db.Cards.ToList();
        }
    }
    
    // Чтобы постоянно не тыркать ctrl+shift+r для корректного отображения latex, попытался сделать
    // какой-то синхронный рендер сразу же
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("typesetMath");
    }
}
